%ul
  - schedule.errors.full_messages.each do |message|
    %li= message

= form_with model: schedule, local: true do |f|
  .form-group
    = f.label :title, "タイトル"
    = f.text_field :title, class: "form-control", id: "schedule_title"
  .form-group
    = f.label :start_time, "開始日"
    %br
    = f.datetime_select :start_time
  .form-group
    = f.label :end_time, "終了日"
    %br
    = f.datetime_select :end_time
  .form-group
    = f.label :alarm, class: "form-check-label" do
      = f.object.class.human_attribute_name("アラーム設定  |   ")
    = f.check_box :alarm, class: "form-check-input"
  .form-group
    = f.label :schedule_repeated, class: "form-check-label" do
      = f.object.class.human_attribute_name("繰り返し設定  |")
    = f.check_box :schedule_repeated, class: "form-check-input"
  = f.submit "登録", class: "btn btn-primary"